body{
	margin:2%;
	padding:2%;
	font-size:120%;
	font-family: 'Poppins', sans-serif;
	background-color: black;
	color: white;
}


main img{
	border-radius: 10px;
} 




a.skip{
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;

  position: absolute;
  top: -40px;
}

a.skip:focus{
    top:20px;
    color: white;
    text-decoration-style: solid;
}


p{
	padding: 10px 0px;
}



h1, h2 {
    padding: 15px;
	text-align: center;
}

h1{
	font-size: 2em; 
	font-weight: 600;
	text-align: center;
	color: #9af75c;
}

h2{
	font-size: 1.2em; 
	font-weight: 600;
	text-align: center;
}

h3{
	font-weight: 500;
}

p{
	font-weight: 300;
}

a{
	color: grey;
	text-decoration: none;
}



@keyframes fadein {
	from {
	  opacity:  1%;
	}
	to {
		opacity:  100%;
	}
}





.videos-intro{
	border: solid 1px white;
	border-radius: 10px;
}

.picture{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2,auto);
	align-items: center;
	row-gap: 40px;
	animation-duration: 1s;
  	animation-name: slidein;
}

@keyframes slidein {
	from {
	  margin-left: 100%;
	}
  
	to {
	  margin-left: 0%;
	}
}



footer{
	margin-top: 50px;
	font-size: 0.8em;
	text-align: center;
}




@media screen and (min-width: 768px){
	body{
		margin-left:10%;
		margin-right:10%;
		font-size:120%;
		background-color: black;
		color:white;
	}
	
	.petintro{
		display: grid;
		margin: 50px 0px;
		grid-template-columns:1fr 1.5fr ;
		grid-template-rows:auto;
		column-gap: 10%;
		align-items: center;
	}

	.picture{
		display: flex;
		flex-flow: row wrap;
		align-items: center;
    	justify-content: center;
	}
	
	.picture img{
		margin: 10px;
		width: 300px;
	}
} 